@use '../utils/variables';

.progress-scroll {
  z-index: 3;
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  #arrow-up {
    transform: rotate(180deg);
  }

  .link--scroll {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 18px;
    margin-left: -120px;
    cursor: pointer;
    text-align: center;
    color: variables.$primary;
  }

  .scroll {
    position: relative;
    width: 3px;
    height: auto;
    left: 0px;
    top: 0;
    background: variables.$base;
    opacity: 1;
  }
}

.social__link:hover,
.social__link:focus,
.link--scroll:hover,
.link--scroll:focus,
.translate-link:hover,
.translate-link:focus {
  color: variables.$base;
}